/* 亮色模式样式 */
.card {
    background-color: #ffffff; /* 白色背景 */
    border: 1px solid #ddd;
    color: #000000; /* 黑色字体 */
}

.card-body {
    color: #000000; /* 黑色字体 */
}

.card-header {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000; /* 黑色标题 */
}

/* 主标题样式 */
.achievements-section h2 {
    font-size: 2em; /* 调整字体大小 */
    text-align: center; /* 使标题居中 */
    font-weight: bold; /* 加粗字体 */
    margin-bottom: 20px; /* 添加下方间距 */
}

.article-grid .article {
    background-color: #ffffff; /* 设置为纯白色 */
}