/* 默认亮色模式 */
.card {
    background-color: #ffffff !important;
    border: 1px solid #ddd !important;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000000 !important; /* 默认字体为黑色 */
}

.card-body {
    color: #000000 !important; /* 默认字体为黑色 */
}

.card-header {
    font-size: 1.4em; /* 略微减小字体大小 */
    margin-bottom: 10px;
    font-weight: bold;
}

.card-body ul {
    list-style-type: disc;
    padding-left: 20px;
}

.card-body li {
    font-size: 1em; /* 调整字体大小，使其更紧凑 */
    line-height: 1.5em;
}

/* 主标题样式 */
.achievements-section h2 {
    font-size: 2em; /* 调整字体大小 */
    text-align: center; /* 使标题居中 */
    font-weight: bold; /* 加粗字体 */
    margin-bottom: 20px; /* 添加下方间距 */
}

.article-grid .article {
    background-color: #ffffff; /* 设置为纯白色 */
}


/* 针对深色模式 */
.dark .card {
    background-color: #333333 !important; /* 深色模式下背景为黑色 */
    border: 1px solid #555555 !important; /* 深色模式下的边框为灰色 */
    color: #ffffff !important; /* 深色模式下字体为白色 */
}

.dark .card-body {
    color: #ffffff !important; /* 深色模式下内容字体为白色 */
}

.dark .card-header {
    color: #ffffff !important; /* 深色模式下标题字体为白色 */
}
