/* 默认亮色模式 */
.card {
    background-color: #ffffff !important;
    border: 1px solid #ddd !important;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000000 !important; /* 默认字体为黑色 */
}

.card-body {
    color: #000000 !important; /* 默认字体为黑色 */
}

/* 主标题样式 */
.achievements-section h2 {
    font-size: 2em; /* 调整字体大小 */
    text-align: center; /* 使标题居中 */
    font-weight: bold; /* 加粗字体 */
    margin-bottom: 20px; /* 添加下方间距 */
}

.article-grid .article {
    background-color: #ffffff; /* 设置为纯白色 */
}

/* 深色模式下的样式 */
@media (prefers-color-scheme: dark) {
    .card {
        background-color: #333333;  /* 深色模式下的卡片背景 */
        border: 1px solid #555;  /* 边框颜色变暗 */
        box-shadow: none;  /* 取消阴影效果 */
    }

    .card-header {
        color: #ffffff;  /* 深色模式下的标题字体颜色变为白色 */
    }

    .card-body {
        color: #f1f1f1;  /* 深色模式下的内容字体颜色变为淡灰色或白色 */
    }
}
