<div class="card">
    <div class="card-header">
      <h2>Academic Achievements</h2>
    </div>
    <div class="card-body">
      <ul>
        <li>2023 National College Student Mathematics Competition - 2nd Prize in Guangdong Province</li>
        <li>2023 Annual Outstanding Student</li>
      </ul>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <h2>Sports Achievements</h2>
    </div>
    <div class="card-body">
      <ul>
        <li>2023 Rock Climbing Competition - 1st Place</li>
        <li>2023 Rowing Team Event - 1st Place</li>
      </ul>
    </div>
  </div>
  